CompileFlags:
  Add:
    - -std=c++17
    - -Iinclude
    - -isystem
    - C:/msys64/usr/include
    - -isystem
    - C:/msys64/usr/lib/gcc/x86_64-pc-msys/13.2.0/include
    - -isystem
    - C:/msys64/usr/lib/gcc/x86_64-pc-msys/13.2.0/include-fixed
    - -isystem
    - C:/msys64/usr/lib/gcc/x86_64-pc-msys/13.2.0/../../../../include/w32api
